[Unit]
Description=Gunicorn instance to serve project_name
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/project_name
Environment="PATH=/home/ubuntu/project_name/env/bin"
ExecStart=/home/ubuntu/project_name/env/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/project_name/gunicorn.sock -m 007 wsgi:app

[Install]
WantedBy=multi-user.target
